// http://uxc.gz.cvte.cn/#/view/e2747d883630e57e85bc1a6571a34141
// 品牌色
@brand-color-1: var(--brand-color-1, #FF6B00); // 品牌色 主色/主按钮/选中
@brand-color-2: var(--brand-color-2, #FF7A19); // 主按钮思停/文字按钮悬停
@brand-color-3: var(--brand-color-3, #E66000); // 主按钮点击
@brand-color-4: var(--brand-color-4, #FF6B00); // 文字按钮
@brand-color-5: var(--brand-color-5, #E66000); // 文字按钮点击
@brand-color-6: var(--brand-color-6, #FFA666); // 按钮禁止
@brand-color-7: var(--brand-color-7, #FFF0E4); // 元素选中

// 中性色
@neutral-color-1: var(--neutral-color-1, #333333); //  主标题 /正文文字
@neutral-color-2: var(--neutral-color-2, #595959); //  图标
@neutral-color-3: var(--neutral-color-3, #666666);

//  副标题 / 按钮文字 / 属性栏图标/内文
@neutral-color-4: var(--neutral-color-4, #888888); //  说明文字
@neutral-color-5: var(--neutral-color-5, #cccccc); //  默认提示字

// 功能色
@feature-color-1: var(--feature-color-1, #f4574f); // 错误色
@feature-color-2: var(--feature-color-2, #dd4e47); // 错误色悬停
@feature-color-3: var(--feature-color-3, #c3453f); // 错误按钮点击
