@import '~@/assets/style/themes';

.title-content {
  display: flex;
  align-items: center;
  position: relative;
  :global {
    .title {
      flex: 1;
      color: @neutral-color-1;
      font-size: 22px;
    }
  }

  .close-icon {
    color: @neutral-color-3;
    font-size: 26px;
    cursor: pointer;
    top: -20px;
    right: -17px;
    position: absolute;
  }
}

.icon {
  margin-right: 16px;
  font-size: 26px;
}

.warning-icon {
  // color: @g-assist-yellow;
}

// .error-icon {
//     color: @m-error;
// }
